{% extends "layout.html" %}

{% block title %}
    Buy
{% endblock %}

{% block main %}

    {% if symbol_result %}
        <h3>
            {{ results }}
        </h3>
    {% else %}
        <form action="/buy" method="post">
            <div class="mb-3">
                <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="buy" name="buy" placeholder="Stocks" type="text" required>
            </div>
            <div class="mb-3">
                <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="share" name="share" placeholder="Share" type="number" required>
            </div>
            <button id="submit" class="btn btn-primary" type="submit">Buy</button>
        </form>
    {% endif %}
{% endblock %}