{% extends "layout.html" %}

{% block title %}
    History
{% endblock %}

{% block main %}

    {% if symbol_result %}
        <h3>
            {{ symbol_result }}
        </h3>

        {% else %}

            <form action="/quote" method="post">
                <div class="mb-3">
                    <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="quote" name="symbol" placeholder="Search Stocks" type="text" required>
                </div>
                <button id="submit" class="btn btn-primary" type="submit">Search</button>
            </form>
    {% endif %}
 
{% endblock %}